@import "bootstrap.css"
@import "timeline.css"

body
	
	font-family: 'Karla', serif;
	background-color: #FFFFFF
	color: #FFFFFF
	a
		color: #00B7FF
	h1
		font-family: 'Open Sans', sans-serif;

	header
		background-color: #F56C0E

	.navbar
		background-color: #F56C0E
		margin-bottom: 0px

	.navbar-inverse
		border-color: #F56C0E;

		.navbar-inner
			text-align:center;

		.navbar-center 
			margin:0
			float:none

		a 
			color: #FFFFFF;
			text-decoration: none;

		a:hover 
			color:#FFFFFF; 
			text-decoration:none; 
			cursor:pointer;  

		.navbar-brand
			color: #FFFFFF
			font-size: 2em
			margin-left: auto
			margin-right: auto
			width: 60px

	.content
		background-color: #F56C0E
		.intro
			padding-top: 10px;
			max-width: 700px;
			.introform
				max-width: 70%;
		.main-form
			margin-top: 15px
			margin-bottom: 50px
			margin-left: 20px
			margin-right: 20px
			padding: 20px
			padding-bottom: 120px
			background-color: #FFFFFF
			-moz-border-radius: 1em 1em 1em 1em;
			border-radius: 1em 1em 1em 1em;
			color: #000000

			.page-header
				padding-bottom: 9px;
				margin: 40px 0 20px;
				border-bottom: 1px solid #eee;

			.btn
				margin-top: 10px
				background-color: #333;
				min-width: 90px;
				border-color: #333;
		
		.companies-container
			background-color: #FFFFFF
			width: 100%
			-moz-border-radius-topleft: 100px;
			border-top-left-radius: 100px;
			-moz-border-radius-topright: 100px;
			border-top-right-radius: 100px;

		.companies
			color: #000000
			margin-top: 30px
			margin-bottom: 50px
			max-width: 600px;
			padding: 10px
			h5
				padding-bottom: 30px;
			strong
				color: #000;
				font-size: 1.1em;
			.newsearch
				color:  #F56C0E;
				font-weight: bolder;
				text-decoration: underline;
			.list-group-item-heading
				color:  #F56C0E;



		.companyprofile
			margin-top: 60px
			max-width: 600px;
			color: #555;
			a 
				color: #000;
			h2
				color:  #F56C0E;
			.phonenumber
				a
					color: #0A3E56
					font-weight: bolder
			.list-group
				margin-top: 30px;
			.profile-heading
				padding-bottom: 30px
			.profile-body
				padding-bottom: 30px
			.description
				margin-bottom: 15px;
			strong
				color: #000;


		.backtext a
			color: #F56C0E
			.text
				font-size: 1.3em
				padding-bottom: 8px

